<link href="styles.css" rel=stylesheet">


body {
background: blue;
font size: 14pt;  
font-family: 'Dosis', sans-serif;
}
h1 { font size:250%;
    font-weight: bold;
    color: green;
}

h2{ font-size: 150%; 
    